venv/
.venv/
env/

data/*.log
data/*.json
data/*.png
data/*.ico

how_btcz.py
btcz_ui.py

__pycache__/
*.py[cod]
*$py.class
*.pyc

pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

build/
dist/
*.egg-info/
